<% content_for :breadcrumb do %>
  <li><a href="/rule">Rules</a></li>
  <li><a href="#" class="active">Add New</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
    /* Custom CSS for this page */
    .form-label{
      font-weight: bold;
    }

    table {
      width:100%;
    }

    table td{
      padding-bottom: 1em;
    }

    table select {
      width: auto !important;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="assets/css/auto-complete.css">
<% end %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title"> Add New Rule</div>
      </div>
      <div class="panel-body">
        <form method="POST" action="#">
        <table>
          <tr>
            <td>
              <span class="form-label">
                Rule Name: 
              </span>
            </td>
            <td>
              <input id="rule_name" name="name" type="text" required>
            </td>
          </tr>
          <tr>
            <td>
              <span class="form-label">
                Select Segment: 
              </span>
            </td>
            <td>
              <select class="form-control" id="notif_cat" name="segment" required>
                <% @segments.each do |segment| %>
                  <option value="<%= segment[:slugname] %>"><%= segment[:name] %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <span class="form-label">
                Select Template Category: 
              </span>
            </td>
            <td>
              <select class="form-control" id="temp_cat" name="temp_cat" required>
                <% @categories.each do |cat| %>
                  <option value="<%= cat[:category_type] %>"><%= cat[:category_type] %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <span class="form-label">
                Duration Type: 
              </span>
            </td>
            <td>
              <select class="form-control" id="duration" name="duration" required>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="weekends">Weekends</option>
                <option value="alternate">Alternate Days</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <span class="form-label">
                Custom Date Range: 
              </span>
            </td>
            <td>
              <input type="text" name="daterange" id="daterange" placeholder="Select Date" required>
            </td>
          </tr>
          <tr>
            <td>
              <span class="form-label">
                State ( ON or OFF ): 
              </span>
            </td>
            <td>
              <input id="state" type="checkbox" name="state">
            </td>
          </tr>
        </table>
          <br/>
          <span>
            <button id="submit" type="submit" class="btn btn-primary">Create</button>
            <button id="cancel" type="button" class="btn btn-danger">Cancel</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<% content_for :scripts do %>
  <script type="text/javascript">

    $('#cancel').click(function(){
      window.location = '/rule';
    });

    // Callback when date changes
    $('#daterange').on('apply.daterangepicker', function(ev, picker){

      var start_time = picker.startDate.format('YYYY/MM/DD h:mm:ss a');
      var end_time = picker.endDate.format('YYYY/MM/DD h:mm:ss a');

      $(this).val(start_time + ' - ' + end_time);
    });

    $(function(){
      
      var today = new Date();
      var tomorrow = new Date();
      tomorrow.setDate(today.getDate() + 1);
      var next7day = new Date();
      next7day.setDate(today.getDate() + 7);

      $('#daterange').daterangepicker({
        "ranges": {
          "Today": [ today, today],
          "Next 1 Day": [ today, tomorrow],
          "Next 7 Days": [ today, next7day]
        },
        "timePicker": true,
        "opens": "center",
        "startDate": today,
        "endDate": tomorrow,
        "minDate":new Date()
      });
    });
  
  </script>
<% end %>
