<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Funnel</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
   /* Custom CSS for this page */
    .select_funnel.active {
      background: black;
    }
  </style>
<% end %>

<div class="secondary-navbar">
 <form class="navbar-form navbar-left" role="search">
   <h4>View Funnel</h4>
 </form>
 <form class="navbar-form navbar-right" role="search">
   <a type="button" class="btn btn-info navbar-btn" href="/funnel/new"><i class="pg-plus"></i> Add Funnel</a>
 </form>
</div>
<br/><br/>
<div class="row">
  <div class="col-md-3 b-r b-grey sm-b-b">
   <!-- Start Table -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">Select Funnel
        </div>
        <div class="tools">
          <a class="collapse" href="javascript:;"></a>
          <a class="config" data-toggle="modal" href="#grid-config"></a>
          <a class="reload" href="javascript:;"></a>
          <a class="remove" href="javascript:;"></a>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-condensed" id="condensedTable">
          <thead>
           <tr role="row">
            <th aria-sort="ascending" aria-label="Title: activate to sort column descending" colspan="1" rowspan="1" aria-controls="condensedTable" tabindex="0" class="sorting_asc" style="width:100%">Title</th>
           </tr>
          </thead>
          <tbody id="funnels_list">
            <!-- Place Funnel List Here -->
          </tbody>
        </table>
      </div>
    </div>
  <!-- End Table -->
  </div>
  <div class="col-md-9">
    <!-- Start Panel -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">
          <div id="chart_title"></div>
        </div>
        <div class="pull-right">
          <span><input type="text" name="daterange" id="daterange" placeholder="Select Date"></span>
        </div>
      </div>
      <div class="panel-body">
        <div id="chartdiv" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">

    var chart;
    var table_nav = $('#condensedTable');
    var settings_nav_table = {
      "sDom": "<'table-responsive't><'row'<p i>>",
        "destroy": true,
        "autoWidth" : true,
        "scrollCollapse": true,
        "oLanguage": {
          "sLengthMenu": "_MENU_ ",
          "sInfo": ""
        },
        "paging": false,
        "scrollY": 400,
        "scrollX": 0
    }

    $('#funnels_list').on('click', 'tr.select_funnel', function() {
      get_graph_data($(this).data('slugname'), $(this).data('name'), null, null);

      $(".select_funnel").each(function(){
        $(this).removeClass("active");
      });
      $(this).addClass("active");
    });

    // Callback when date changes
    $('#daterange').on('apply.daterangepicker', function(ev, picker){

      let start_time = picker.startDate.format('YYYY/MM/DD h:mm:ss a');
      let end_time = picker.endDate.format('YYYY/MM/DD h:mm:ss a');

      $(this).val(start_time + ' - ' + end_time);

      let slugName = $(".select_funnel.active").data('slugname');
      let chartName = $(".select_funnel.active").data('name');
      get_graph_data(slugName, chartName, start_time, end_time);
    });

    function get_graph_data(slug_name, name, start_time, end_time){
      args = {
          funnelName: slug_name,
          startTime: start_time == null ? '' : start_time,
          endTime: end_time == null ? '' : end_time
        }
      $.getJSON('/funnel/graph_data', 
        args, 
        function(response){
          chart.dataProvider = response;
          chart.validateData();
        }
      );
      $('#chart_title').html("<h2>"+name+"</h2>");
    }

    AmCharts.ready(function () {
      chart = new AmCharts.AmFunnelChart();
      chart.rotate = false;
      chart.titleField = "title";
      chart.balloon.fixedPosition = false;
      chart.marginRight = 210;
      chart.marginLeft = 15;
      chart.labelPosition = "right";
      chart.funnelAlpha = 0.9;
      chart.valueField = "value";
      chart.startX = -500;
      chart.dataProvider = [];
      chart.startAlpha = 0;
      chart.depth3D = 60;
      chart.angle = 60;
      chart.outlineAlpha = 1;
      chart.outlineThickness = 2;
      chart.outlineColor = "#FFFFFF";
      chart.write("chartdiv");
    });

    $(function() {
      var html = "";

      $.getJSON('/funnel/all', null, function(response){
        for (x in response.data) {
          html += "<tr class='select_funnel' data-name='"+response.data[x].name+"' data-slugname='"+response.data[x].name_slug+"'><td class='v-align-middle semi-bold'>"+response.data[x].name+"</td></tr>";
        }
        $("#funnels_list").html(html);
        table_nav.dataTable(settings_nav_table);
        if(response.data[0] != null){
          $('.select_funnel').first().click();
        } else {
          $('#chart_title').html("<h3>No Funnel Found</h3>");
        }
      });

      let today = new Date();
      let yesterday = new Date();
      yesterday.setDate(today.getDate() - 1);
      let last7day = new Date();
      last7day.setDate(today.getDate() - 7);
      $('#daterange').daterangepicker({
        "ranges": {
          "Today": [ today, today],
          "Last 1 Day": [ yesterday, today],
          "Last 7 Days": [ last7day, today]
        },
        "timePicker": true,
        "opens": "left",
        "startDate": today,
        "endDate": yesterday,
        "maxDate":new Date()
      });
    });
  </script>
<% end %>
