<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Home</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
  	/* Custom CSS for this page */
  	.hljs {
  		color: #3a8fc8;
  	}
  	.hljs-string {
  		color: #d14;
  	}
  </style>
<% end %>


<% content_for :scripts do %>
  <script type="text/javascript">
  	// Custom JS for this page only
  </script>
<% end %>
