<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Home</a></li>
<% end %>


<% content_for :styles do %>
  <style type="text/css">
  .backcolor {
    padding: 25px;
    background: #F0F0F0;
  }
  </style>
<% end %>

<div style="height: 100px;">&nbsp;</div>
<div class="row">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group backcolor" role="group">
      <button type="button" class="btn btn-default btn-lg" data-step="1" data-intro="Octo-Engage shows you analysis of all the users Octo is engaging Autonomously"><b>Octo-Engage</b></button>
    </div>
    <!-- <div class="btn-group" role="group">&nbsp;&nbsp;</div> -->
    <div class="btn-group backcolor" role="group">
      <button type="button" class="btn btn-default btn-lg" data-step="2" data-intro="Assist Helps you create custom campaigns using Octo’s intelligent suggestions and insights"><b>Octo-Assist</b></button>
    </div>
    <!-- <div class="btn-group" role="group">&nbsp;&nbsp;</div> -->
    <div class="btn-group backcolor" role="group" style="align: right;">
      <button type="button" class="btn btn-default btn-lg"><b>Octo-Support</b> (Coming Soon)</button>
    </div>
  </div>
</div>
<div style="height: 100px;">&nbsp;</div>
