<p class="p-t-35">Login into your OCTO account</p>
<!-- START Login Form -->
<form id="form-login" class="p-t-15" role="form" action="/access/login" method="POST">
  <!-- START Form Control-->
  <div class="form-group form-group-default">
    <label>Login</label>
    <div class="controls">
      <input type="text" name="username" placeholder="User Name" class="form-control" required>
    </div>
  </div>
  <!-- END Form Control-->
  <!-- START Form Control-->
  <div class="form-group form-group-default">
    <label>Password</label>
    <div class="controls">
      <input type="password" class="form-control" name="password" placeholder="Credentials" required>
    </div>
  </div>

  <!-- END Form Control-->
  <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
  <span> or <a href="/access/signup">SignUp</a> </span>
</form>

<% content_for :scripts do %>
  <script>
    $(function()
    {
      $('#form-login').validate();
    });
  </script>
<% end %>