<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Notification</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
  	/* Custom CSS for this page */
  </style>
<% end %>

<p>This is notification page</p>

<% content_for :scripts do %>
  <script type="text/javascript">
  	// Custom JS for this page only
  </script>
<% end %>