<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Notification</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
    /* Custom CSS for this page */
  </style>
<% end %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">Notification</div>
      </div>

      <div class="panel-body">
        <p>This is a dummy page for notifications</p>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    // Custom JS for this page only

  </script>
<% end %>