<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Rule</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
  	/* Custom CSS for this page */
  </style>
<% end %>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
  <h2>Rules List </h2>
  <ul class="list-group">
    <% @rules_list.each do |rule| %>
      <li class="list-group-item"> <%= rule[:name] %> </li>
    <% end %>
  </ul>
    
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
  	// Custom JS for this page only
  </script>
<% end %>