<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Settings</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
    /* Custom CSS for this page */
    .panel-body {
      font-size: 1.5em;
    }
  </style>
<% end %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">API SETTINGS</div>
      </div>

      <div class="panel-body">
        <div>
          <div class="col-lg-3 col-md-3 col-sm-3 text-right"> Consumer ID </div>
          <div class="col-lg-1 col-md-1 col-sm-1 text-center"> | </div>
          <div class="col-lg-8 col-md-8 col-sm-8 text-left">
            <code><%= session[:consumer_id] %></code>
          </div>
        </div><br/><br/>
        <div>
          <div class="col-lg-3 col-md-3 col-sm-3 text-right"> Api Key </div>
          <div class="col-lg-1 col-md-1 col-sm-1 text-center"> | </div>
          <div class="col-lg-8 col-md-8 col-sm-8 text-left">
            <code><%= @apikey %></code>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    // Custom JS for this page only

  </script>
<% end %>