<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Trends</a></li>
<% end %>


<% content_for :styles do %>
<% end %>


<div class="secondary-navbar">

    <h4>Product Trends</h4>

</div>
<div class="row">

  <div class="col-md-3 b-r b-grey sm-b-b">
   <!-- Start Table -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="tools">
          <a class="collapse" href="javascript:;"></a>
          <a class="config" data-toggle="modal" href="#grid-config"></a>
          <a class="reload" href="javascript:;"></a>
          <a class="remove" href="javascript:;"></a>
        </div>
      </div>

      <div class="panel-body">

        <div class="table-responsive">
          <table class="table table-hover table-condensed" id="condensedTable">
            <thead>
             <tr role="row">
               <th aria-sort="ascending"
                   aria-label="Title: activate to sort column descending"
                   colspan="1"
                   rowspan="1"
                   aria-controls="condensedTable"
                   tabindex="0"
                   class="sorting_asc"
                   style="width:100%">Trends type</th>
             </tr>
            </thead>
            <tbody id="funnels_list">
              <% @counter_text.each do |counter| %>
                <tr>
                  <td data-counter-id="<%= counter[:id] %>">
                    <%= counter[:text] %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- End Table -->
  </div>

  <div class="col-md-9">
    <div class="panel panel-transparent">
      <div class="panel-heading bg-primary-darker">
        <h2>Overall Trends for Pages</h2>
      </div>
      
      <div class="panel-body">
        <div class="input-preprend input-group pull-left col-sm-4 well well-sm">
          <input type="text" style="width: 100%" placeholder="Find a page and view it's trend">
        </div>
        <div class="input-prepend input-group pull-right col-sm-4 well well-sm">
          <input type="text" style="width: 100%" name="timeslot" id="rankingDatepicker"
          class="form-control active"
          size="50"
          placeholder="Date Range" 
          value="">
        </div>
      </div>
                <table class="table table-striped" id="tableWithExportOptions">
                  <thead>
                    <tr>
                      <th>Page</th>
                      <th>Rank</th>
                      <th>% w.o.w change</th>
                      <th>Total Hits</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd gradeX">
                      <td><a href="#">Page 1</a></td>
                      <td>1</td>
                      <td>+300% <i class="pg-arrow_up text-success"></i></td>
                      <td>324,098</td>
                    </tr>

                   <tr class="gradeA">
                     <td><a href="#">Page 2</a></td>
                     <td>2</td>
                      <td>-20% <i class="pg-arrow_down text-danger"></i></p></td>
                      <td>23,987</td>
                    </tr>
                    <tr class="gradeA">
                      <td><a href="#">Page 3</a></td>
                      <td>3</td>
                      <td>+40% <i class="pg-arrow_up text-success"></i></td>
                      <td>34,982</td>
                    </tr>
                    <tr class="gradeX">
                      <td><a href="#">Page 4</a></td>
                      <td>4</td>
                      <td>0%</td>
                      <td>21,098</td>
                    </tr>
                  </tbody>
                </table>
    </div>
  </div>
</div>

<% content_for :scripts do %>

  <script type="text/javascript">

(function($) {

    'use strict';

    var responsiveHelper = undefined;
    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };

    var table = $('#tableWithExportOptions');

     var settings = {
            "sDom": "<'exportOptions'T><'table-responsive't><'row'<p i>>",
            "destroy": true,
            "scrollCollapse": true,
            "oLanguage": {
                "sLengthMenu": "_MENU_ ",
                "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
            },
            "iDisplayLength": 20,
            "oTableTools": {
                "sSwfPath": "assets/plugins/jquery-datatable/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "aButtons": [{
                    "sExtends": "csv",
                    "sButtonText": "<i class='pg-grid'></i>",
                }, {
                    "sExtends": "xls",
                    "sButtonText": "<i class='fa fa-file-excel-o'></i>",
                }, {
                    "sExtends": "pdf",
                    "sButtonText": "<i class='fa fa-file-pdf-o'></i>",
                }, {
                    "sExtends": "copy",
                    "sButtonText": "<i class='fa fa-copy'></i>",
                }]
            },
            fnDrawCallback: function(oSettings) {
                $('.export-options-container').append($('.exportOptions'));

                $('#ToolTables_tableWithExportOptions_0').tooltip({
                    title: 'Export as CSV',
                    container: 'body'
                });

                $('#ToolTables_tableWithExportOptions_1').tooltip({
                    title: 'Export as Excel',
                    container: 'body'
                });

                $('#ToolTables_tableWithExportOptions_2').tooltip({
                    title: 'Export as PDF',
                    container: 'body'
                });

                $('#ToolTables_tableWithExportOptions_3').tooltip({
                    title: 'Copy data',
                    container: 'body'
                });
            }
        };
       table.dataTable(settings);

       $('input[name="timeslot"]').daterangepicker({
            "timePicker": true,
            "opens": "left",
            "startDate": "05/11/2016",
            "endDate": "05/17/2016"
       });
})(window.jQuery);

  </script>
<% end %>
